<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <title>Document</title>
</head>
<body>
 <div class="chat-container">
    <div id="loginPage">
        <input id="usernameInput" type="text" placeholder="Nom d'utilisateur">
        <button id="loginButton">Se Connecter</button>
    </div>
    <div id="chatPage">
        <div class="sidebar">
            <div class="sidebar-header">
                <h2>chat</h2>
                <button class="new-chat" id="new chat-btn">Creer un groupe</button>
            </div>
            <input type="text" class="search-bar" id="search-input" placeholder="Rechercher une message">
            <div class="chat-list" id="chat-list"></div>
            <div class="user-profile"></div>
            <img src="views/Capture d'écran 2025-01-08 111628.png" alt="User">
            <div class="user-info">
                <p id="username" class="username"></p>
                <p class="user-status">En ligne</p>
                <button>Paramètre</button>
            </div>
        </div>
        <div class="main-chat">
            <div class="chat-header">
                <div class="chat-header-left">
                    <img src="views/Capture d'écran 2025-01-08 111628.png" alt="chat">
                    <div class="chat-header-info">
                        <p id="chat-header-name" class="chat-header-name"></p>
                        <p class="chat-header-status">En ligne</p>
                    </div>
                </div>
                <div class="chat-header-icons">
                    <button id="phone-btn"></button>
                    <button id="video-btn"></button>
                </div>
            </div>
            <div class="chat-messages" id="messages"></div>
            <div class="input-bar"></div>
            <button id="voice-btn"></button>
            <button id="video-call-btn"></button>
            <button id="attach-btn"></button>
            <button id="Emoji-btn"></button>
            <button id="voice-btn"></button>
            <input type="text" id="messageInput" class="input-field" placeholder="message..">
            <button class="sendBtn" class="send-button">Envoyer</button>
        </div>
    </div>
 </div>
 
 <script src="/socket.io/socket.io.js"></script>
 <script src="/client.js"></script>
</body>
</html>
<style>
    body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center; 
    margin: 0; 
    padding: 20px; 
    box-sizing: border-box; 
}
.chat-container { 
    width: 60%; 
    max-width: 1200px; 
    height: 90vh; 
    display: flex; 
    box-shadow: 0 5px 15px #00000033; 
    background: linear-gradient(#1A2D42 100%); 
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    padding-bottom: 20px; 
}
.sidebar{
    width: 300px; 
    height: 100%; 
    background-color: #2E4156; 
    padding: 20px; display: flex; 
    flex-direction: column; 
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-header{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
    color: white; 
}
.sidebar-header h2{ 
    margin: 0; 
    font-size: 1.3rem; 
    font-weight: 600; 
} 
.new-chat{ 
    background-color: rgba(255, 255, 255, 0.2); 
    border: none; 
    color: white; 
    padding: 8px 15px; 
    border-radius: 20px; 
    font-size: 0.9rem; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    transition: all 0.3s ease;
}
.new-chat:hover{ 
    background-color: rgba(255, 255, 255, 0.3); 
} 
.new-chat i{ 
    margin-right: 5px; 
}
.search-bar{ 
    background-color: rgba(255, 255, 255, 0.15); 
    border: none; 
    padding: 12px 0px; 
    width: 100%; 
    color: white; 
    margin-bottom: 20px; 
    border-radius: 20px; 
    font-size: 0.9rem; 
} 
.search-bar::placeholder { 
    color: rgba(255, 255, 255, 0.7); 
} 
.search-bar:focus { 
    outline: none; 
    background-color: rgba(255, 255, 255, 0.25); 
} 
.chat-list { 
    flex-grow: 1; 
    overflow-y: auto; 
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; 
} 
.chat-item { 
    display: flex; 
    align-items: center; 
    padding: 12px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: all 0.2s; 
    margin-bottom: 8px; 
    background-color: rgba(3, 118, 145, 0.1); 
} 
.chat-item:hover { 
    background-color: rgba(3, 118, 145, 0.2);
}
.chat-item.active { 
    background-color: rgba(3, 118, 145, 0.3); 
} 
.chat-item img { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 12px; 
    object-fit: cover; 
} 
.chat-info { 
    flex-grow: 1; 
    min-width: 0; 
} 
.chat-name { 
    font-weight: 600; 
    margin: 0 0 4px 0; 
    font-size: 0.95rem; 
    color: #037691; 
} 
.chat-message { 
    margin: 0; 
    font-size: 0.8rem; 
    color: #555; 
} 
.chat-time { 
    font-size: 0.7rem; 
    color: #777; 
} 
.user-profile { 
    display: flex; 
    align-items: center; 
    padding: 15px 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    margin-top: auto; 
    color: white;
}
.chat-item.active { 
    background-color: rgba(3, 118, 145, 0.3); 
} 
.chat-item img { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 12px; 
    object-fit: cover; 
} 
.chat-info { 
    flex-grow: 1; 
    min-width: 0; 
} 
.chat-name { 
    font-weight: 600; 
    margin: 0 0 4px 0; 
    font-size: 0.95rem; 
    color: #AAB7B7; 
} 
.chat-message { 
    margin: 0; 
    font-size: 0.8rem; 
    color: #555; 
} 
.chat-time { 
    font-size: 0.7rem; 
    color: #777; 
} 
.user-profile { 
    display: flex; 
    align-items: center; 
    padding: 15px 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    margin-top: auto; 
    color: white;
}
.user-profile img { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 12px; 
    object-fit: cover; 
    color: #ffffff; 
    background-color: #2a2b3e; 
} 
.user-info { 
    flex-grow: 1; 
    min-width: 0; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 0 10px; 
    text-align: left; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
} 
.user-name { 
    font-weight: 600; 
    margin: 0 0 4px 0; 
    font-size: 0.95rem; 
    color: #ffffff; 
} 
.user-status { 
    margin: 0; 
    font-size: 0.8rem; 
    color: #00c853; 
} 
.user-profile button { 
    background: none; 
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.user-profile button:hover { 
    opacity: 1; 
} 
.main-chat { 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    background-color: white; 
    border-radius: 0 15px 15px 0; 
    padding-bottom: 0%; 
} 
.chat-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 20px; 
    border-bottom: 1px solid #2a2b3e; 
    background-color: #037691; 
    color: white; 
} 
.chat-header-left { 
    display: flex; 
    align-items: center; 
} 
.chat-header-left img { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 12px; 
    object-fit: cover; 
    color: #ffffff;
}
.chat-header-name { 
    font-weight: 600; 
    margin: 0 0 4px 0; 
    font-size: 1rem; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    color: #ffffff; 
} 
.chat-header-status { 
    margin: 0; 
    font-size: 0.8rem; 
    color: #00c853; 
} 
.chat-header-icons button { 
    background: none; 
    border: none; 
    color: #ffffff; 
    font-size: 1.2rem; 
    margin-left: 15px; 
    cursor: pointer; 
    opacity: 0.7; 
    transition: opacity 0.2s; 
} 
.chat-header-icons button:hover { 
    opacity: 1; 
} 
.chat-messages { 
    flex-grow: 6; 
    padding: 20px; 
    overflow-y: auto; 
    display: flex; 
    flex-direction: column; 
    background-color: #f5f9fa; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), 
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 20px 20px;
    color: #ffffff;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #1a1b2e;
    max-height: calc(90vh - 150px);
}
.message { 
    word-wrap: break-word; 
    max-width: 70%; 
    padding: 5px 16px; 
    border-radius: 18px; 
    margin-bottom: 12px; 
    font-size: 0.95rem; 
    line-height: 1.4; 
    position: relative; 
} 
.received { 
    background-color: #2a2b3e; 
    align-self: flex-start; 
    border-bottom-left-radius: 4px; 
} 
.sent { 
    border-bottom-right-radius: 4px; 
    background-color: #037691; 
    align-self: flex-end; 
    color: white; 
} 
.message-time { 
    font-size: 0.7rem; 
    color: #ffffff99; 
    margin-top: 4px; 
    text-align: right; 
} 
.input-bar { 
    display: flex; 
    align-items: center; 
    padding: 15px 20px; 
    background-color: #037691;
    border-top: 1px solid #2a2b3e;
} 
.input-bar button { 
    background: none; 
    border: none; 
    color: #ffffff; 
    font-size: 1.2rem; 
    margin-right: 12px; 
    cursor: pointer; 
    opacity: 0.7; 
    transition: opacity 0.2s; 
} 
.input-bar button:hover { 
    opacity: 1; 
} 
.input-field { 
    flex-grow: 1; 
    background-color: #f5f9fa; 
    border: 1px solid #e1e5e8; 
    padding: 12px 18px; 
    color: #333; 
    border-radius: 24px; 
    font-size: 0.95rem; 
    transition: box-shadow 0.2s; 
} 
.input-field:focus { 
    outline: none; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
} 
.send-button { 
    font-weight: 500; 
    background-color: #037691; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 24px; 
    margin-left: 10px; 
    cursor: pointer;
    transition: background-color 0.2s;  
}
.send-button:hover { 
    background-color: #02607a; 
} 
.cloud-save { 
    text-align: center; 
    font-size: 0.75rem; 
    color: #ffffff; 
    padding: 8px 0; 
    margin-top: 0px; 
    border-top: 1px solid #ffffff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #037691; 
} 
.cloud-save i { 
    margin-right: 6px; 
    font-size: 0.9rem; 
} 
#loginPage { 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    background-color: #D4D8DD; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    max-width: 400px; 
    margin: auto; 
} 
#loginPage input { 
    text-align: center;
    padding: 12px; 
    margin-bottom: 15px;
    width: 100%; 
    box-sizing: border-box; 
    border: 3px solid #2E4156; 
    border-radius: 4px; 
    background-color: white; 
    color: #2E4156; 
    font-size: 0.95rem; 
}
#loginPage input:focus { 
    outline: none; 
    border-color: #2E4156; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
} 
#loginPage button { 
    padding: 12px 24px; 
    background-color: #1A2D42; 
    color: white; 
    border: 3px solid #AAB7B7; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 0.95rem; 
    font-weight: 500; 
    width: 100%; 
    transition: background-color 0.2s; 
} 
#loginPage button:hover { 
    background-color: #2E4156; 
}
.file-message a { 
    color: #037691; 
    font-weight: 500; 
    font-size: 0.9rem; 
    margin-top: 10px; 
    display: inline-block; 
    text-align: center; 
    width: 85%; 
    border-radius: 18px; 
    text-decoration: none;
    padding: 8px 12px;
    background: #f0f0f0; 
    border-radius: 18px; 
    display: inline-block; 
}
.file-message a:hover { 
    text-decoration: underline; 
}
.input-bar {
    position: relative; 
    display: flex; 
    align-items: center; 
    padding: 10px; 
}
.modal { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
} 
.modal-content { 
    background: white; 
    padding: 20px; 
    border-radius: 5px; 
    width: 300px; 
    text-align: center; 
    border: 10px solid #037691;
}
.modal-content h3 { 
    margin-top: 0; 
} 
.modal-content button { 
    margin: 5px; 
    padding: 5px 10px; 
} 
#userList div { 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
}
#userList input[type="checkbox"] { 
    margin-right: 10px; 
} 
.audio-message { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
} 
.audio-message audio { 
    max-width: 200px; 
    border-radius: 5px; 
} 
.timestamp { 
    font-size: 0.8em; 
    color: #666; 
    margin-left: 10px; 
} 
#call-interface { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background-color: #1a1b2e; 
    z-index: 1000; 
    display: flex; 
    flex-direction: column; } 
    .call-top-bar { 
        display: flex; 
        align-items: center; 
        padding: 10px 20px; 
        background-color: #2a2b3e; 
        color: white; 
    }
</style>